#app
  section#All
    .container
      .row.title
        img(src="https://i.imgur.com/jkFld3t.png", alt="").source
        h1 獨立音樂活動資訊
        h3 Indie Music Events
      .row#eventItems
      .row
        .col-xl-6.offset-xl-3.col-sm-8.offset-sm-2.selectItemBox
          #item
          
            
        
